header {
}
.all {
  font-weight: 500;
}
body {
  color: #212121;
  font-family: Roboto, sans serif;
}
p {
  font-weight: 400;
}

.mainpagesyle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}

.computerimg {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.baskitballimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.seafoodimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.headphonesimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.brickpicimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.screenpicimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.bookpicimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.labeltacpicimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.typingpicimg {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.footerplacement {
  font-weight: 400;
}
.webstudio-raleway {
  font-family: Raleway;
  font-weight: 700;
}
